body {
	margin: 0;
	padding: 0;
	background-color: #1b2b3c;
}

nav {
	background-image: url('tinyselect_header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	height: 280px;
	width: 100%;

	text-align: center;
}

nav img {
	margin-top: 20px;
}
